@font-face {
    font-family: subway;
    src: url(../font/Subway-Black.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../font/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    font-family:poppins;
    margin:0px;
}

body {
    background-color: white;
    z-index: -1;
}

/* navigation */

.fContainer {
    width:100%;
    height:75px;
    background-color: white;
    display:flex;
    margin-left:0px;
}

.wrapper {
    width:1000px;
    height:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 40px;
}

/* gambar logo */
.brand {
    display:flex;
    flex-direction:row;
    padding:0px 5%;
    width:135px;
    height: 115px;
    align-items:center;
    margin-left: 20px;
}

.icon>i{
   font-size:25px;
   cursor: pointer;
   color: #e0ba75;
   margin-right:0;
   margin-left:130%;
   align-items:right;
}

.icon>i:hover{
   color:#CC9546;
}

.navigasi {
    display:flex; 
    justify-content:center;  
    align-items:center; 
    margin-left:30px;
}

.navigasi>li {
    list-style-type:none;
    padding:10px;
}

.navigasi>li>a {
    color:#e0ba75;
    font-size:15px;
    font-family: poppins;
    text-transform:capitalize;
    text-decoration:none;
    margin-right:10px;
    margin-left: 5px;
    justify-content:center;  
    align-items:center; 
    margin-bottom: 8px;
}

.navigasi>li>a:hover {
  color: #CC9546;
}

/* bentuk kotak di navbar */
#nav {
    box-shadow: 0.5px 1px gainsboro;
    position: fixed;
    top: 0; left: 0;right: 0;
    padding: 1px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: white;
}

/* home */

#home {
    margin-top:180px;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    margin-bottom:140px;
    margin-left:115px;
}

#home-text>h2{
    font-size:50px;
    font-family:subway;
    padding:0px 5%;
    padding-top: 10px;
    color:#CC9546;
    margin-bottom: 10px;
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

#home-text>p{
    font-size:16px;
    font-family:poppins;    
    padding:0px 5%; 
    color:#e0ba75;
    margin-bottom:25px;
    line-height: 22px;
    letter-spacing: 0;
}

#home-image {
    margin-left: 10px;
}

.order{
    width: 100px;
    cursor: pointer;
    background-color: #e0ba75;
    border-radius: 30px;
    color:#fff;
    margin-left: 32px;
    box-shadow: 0px 10px 38px -17px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    padding-top:13px;
    padding-bottom:12px;
    padding-left:25px;
    padding-right:27px;
}

a{
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    opacity: 0.7;
}

.order:hover a{
 opacity: 1;
}

.order:hover{
    transform:scale(1.2);
    background-color: #CC9546;
    box-shadow: 0px 10px 38px -17px rgba(0, 0, 0, 0.5);
}

/* product */

.menu{
    width: 100%;
    background-color:#e0ba75;
    margin-bottom: 10px;
}

#product {
    margin: 0;
    color: black;
    justify-content: space-around;
    flex-direction: column;
}

#product-text{
    padding-top:40px;
}

#product-text h1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-top:15px;
    margin-bottom: 0px;
    color: #FFF;
    opacity: 50%;
}

#product-text h2 {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFF;
    font-family: subway;
}

.variant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.variant-image {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top:0;
}

.kotak1 {
    height: 425px;
    width: 400px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    padding-top: 8px;
}

.kotak1:hover{
    transform: scale(1.1);
    background-color:#CC9546;
    border: none;
}

.kotak1 h3 {
    text-align: center;
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    font-family: subway;
}

.kotak1 p {
    text-align: center;
    margin: 10px;
    color: #FFF;
    margin-bottom: 15px;
    line-height: 22px;
}

.kotak1 h2 {
    text-align: center;
    margin: 10px;
    color: #FFF;
    margin-bottom: 15px;
}

.kotak1 h2 a {
    color:#fff;
    font-size: 15px;
    font-family: poppins;
}

.kotak2  {
    height: 425px;
    width: 400px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    padding-top: 8px;
}

.kotak2:hover{
    transform: scale(1.1);
    background-color:#CC9546;
    border: none;
}

.kotak2 h3 {
    text-align: center;
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0;
    font-family: subway;
}

.kotak2 p {
    text-align: center;
    margin: 10px;
    color: #FFF;
    margin-bottom: 15px;
    line-height: 22px;
}

.kotak2 h2 {
    text-align: center;
    margin: 10px;
    color: #FFF;
    margin-bottom: 15px;
}

.kotak2 h2 a {
    color:#fff;
    font-size: 15px;
    font-family: poppins;
}

.order3 {
  background-color: #FFF;
  border-radius: 15px;
  color:#e0ba75;
  padding:8px;
  font-weight: bold;
  font-size: 25px;
  font-family: subway;
  margin-top: 20px;
}

.order3:hover {
    font-size: 30px;
    cursor: pointer;
    transform:scale(1.5);
    color: #cc9546;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

/* information */

#info{
    width: 100%;
    height:100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.container-cardinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-cardinfo > .card1{
    height:450px;
    width:300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 40px;
}

.card1:hover{
    box-shadow: 3px 10px 26px -4px rgba(0, 0, 0, 0.872);
}

.container-cardinfo > .video{
    height:450px;
    width:300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 50px;
}

.container-cardinfo > .card2{
    height:450px;
    width:300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card2:hover{
    box-shadow: 3px 10px 26px -4px rgba(0, 0, 0, 0.872);
}

.back{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(79, 77, 77);
}

.back h2{
    margin-top: 5px;
    padding: 10px;
    letter-spacing: 2px;
    color: white;
    z-index: 10;
    font-family: subway;
    transition: 0.5s;
    font-size: 18px;
}

.gambar{
    position: absolute;
    width:100%;
    height: 100%;
    opacity: 60%;
    transition: 0.5s;
}

.card1:hover .back h2{
    opacity:0;
}

.card1:hover .back img{
    width:110%;
    height: 110%;
}

.card2:hover .back h2{
    opacity:0;
}

.card2:hover .back img{
    width:110%;
    height: 110%;
}

.text-ctr{
    width:80%;
    margin-top: 30px;
    z-index: 1;
}

.text-ctr h2{
    font-size: 25px;
    color: white;
    margin-top: 1px;
    transition: 0.5s;
    z-index: 10;
    line-height: 5px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.text-ctr p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    line-height: 18px;
}

.front{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    color: white;
    background-color: #e0ba75;
    transition: 0.5s;
    height: 14%;
    width: 100%;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
    opacity: 0.90;
}

.card1:hover .front{
    height: 200px;
}

.card1:hover .front h2{
    padding-top: 3;
}

.card2:hover .front{
    height: 200px;
}

.card2:hover .front h2{
    padding-top: 3;
}

/* testimoni */

.testi{
  width: 100%;
  background-color:#e0ba75;
  padding-top: 0px ;
  margin-bottom:80px;
}

#testi-text h2 {
  font-size: 20px;
  color:#ffffff;
  text-align: center;
  padding-top:35px;
  margin-bottom:0px;
  opacity: 50%
}

#testi-text h3 {
  font-size: 50px;
  color:#ffffff;
  text-align: center;
  margin-top:0;
  margin-bottom:20px;
  font-family: subway;
}

.slider-frame{
  overflow: hidden;
  height: 430px;
  width: 800px;
  width: 100%;
  padding-left: 180px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 100%;
}


@keyframes slide_animation{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left:0px;}
}

@-webkit-keyframes slide_animation{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:1200px;}
  30% {left:1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left:0px;}
}

.slide-images{
  width: 4000px;
  height: 2000px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container{
  height: 1200px;
  width: 300px;
  position: relative;
  float: left;
}

@media screen and (min-width: 800px) {
    .kotak1 {
        margin: 20px;
    }
} 


/* Footer Baru */

#footer{
    color: #e0ba75;    
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:300px;
    margin-left: 80px;
    margin-right:80px;
}

.footer-left{
    width: 300px;
}

.footer-left > .footer-logo {
    margin-bottom: -40px;
}


.footer-container > .contact-form {
    width:280px;
    margin-right: 80px;
}

.instagram-media {
    width: 330px;
    height: 215px;
    min-width: unset !important;
}

.footer-container> .footer-right {
    margin-left:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    font-family: poppins;
    color: #CC9546;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}